form {
  margin-bottom:2em;

  fieldset {
    margin-bottom:3em;

    legend {
      text-transform:uppercase;
    }
  }

  .date {
    display:inline-block;
    width:200px;
    margin-right:2em;
  }

  .btn-danger {
    float:right;
  }

  .juryMembers {

    label {
      display:block;
    }

    input {
      display:inline-block;
      width:50%;
    }

    button {
      vertical-align:top;
    }
  }

  .radioGroup label.first {
    margin-right:2.5em;
  }

  // Datepicker
  .datepicker.dropdown-menu tbody button {
    padding: 6px;
  }
  .datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
  }
  .datepicker.dropdown-menu {
    width:260px;
  }
}
