form {
  margin-bottom:2em;

  fieldset {
    margin-bottom:3em;

    legend {
      text-transform:uppercase;
    }
  }

  .date {
    display:inline-block;
    width:200px;
    margin-right:2em;
  }

  .btn-danger {
    float:right;
  }

  .juryMembers {

    label {
      display:block;
    }

    input {
      display:inline-block;
      width:50%;
    }

    button {
      vertical-align:top;
    }
  }

  .radioGroup label.first {
    margin-right:2.5em;
  }

  // Datepicker
  .datepicker.dropdown-menu tbody button {
    padding: 6px;
  }
  .datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
  }
  .datepicker.dropdown-menu {
    width:260px;
  }

  .prizes {
    .row:nth-child(2n) {
      background:#f9f9f9;
    }
    .row {
      padding:.5em 0;
    }
  }

  .drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
  }

  .gallery-box {
    width:140px;
    float:left;
    margin-right:1em;
    margin-bottom:1em;

    .thumbnail {
      margin-bottom:10px;
    }

    .progress {
      margin-bottom:10px;
    }

    .title {
      display:block;
      height:20px;
      overflow:hidden;
    }
  }

  .images {
    transition:all .5s;

    input[type="file"] {
      visibility:hidden;
      position:absolute;
    }

    &.dragOver .drop {
      border-color:black;
      background:#E8E8E8;
    }

    .thumbnail .img {
      background-size:cover;
      background-position:50% 50%;
      background-repeat:no-repeat;
      width:130px;
      height:100px;
    }

    .drop input[type="text"] {
      margin-top:1em;
      width:400px;
      display:inline-block;
    }
  }
}
