<div class="row event">
  <div class="col-md-12">
    <h2>{{title}}</h2>
    <form role="form" ng-hide="modalSaved" ng-submit="saveApp()" name="form">
      <fieldset>
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" required type="text" class="form-control" ng-model="formData.title" id="title" placeholder="Enter title">
          <div class="alert alert-danger" ng-show="form.title.$dirty && form.title.$invalid">
            Title is required.
          </div>
        </div>

        <div class="form-group">
          <label for="text">Description</label>
          <textarea class="form-control wysiwyg" id="text"></textarea>
        </div>

        <div class="form-group radioGroup" ng-hide="modal">
          <label>App status</label><br>
          <label class="first">
            <input type="radio" ng-model="formData.published" id="status1" value="1">
            Published
          </label>
          <label>
            <input type="radio" ng-model="formData.published" id="status2" value="0">
            Unpublished
          </label>
          <div class="alert alert-info"><i class="glyphicon glyphicon-info-sign"></i> Only published apps are visible on event webpage.</div>
        </div>

        <div class="form-group">
          <label for="homepage">Homepage</label>
          <input type="url" class="form-control" ng-model="formData.homepage" id="homepage" placeholder="Enter app homepage">
        </div>

        <div class="form-group">
          <label for="downloadUrl">Download URL</label>
          <input type="url" class="form-control" ng-model="formData.downloadUrl" id="downloadUrl" placeholder="Enter app download URL">
        </div>
      </fieldset>

      <fieldset>
        <legend>Datasets</legend>
        <div class="alert alert-info">
          <i class="glyphicon glyphicon-info-sign"></i>
          Please specify the datasets that the application consumes below.
        </div>
        <table class="table table-hover table-striped table-responsive">
          <thead>
            <tr>
              <th>Dataset URL</th><th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dataset in formData.datasets track by $index">
              <td>
                <input type="text" class="form-control" ng-model="formData.datasets[$index]" placeholder="Enter dataset URL">
              </td>
              <td>
                <button type="button" ng-click="formData.datasets.splice($index,1)" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" ng-click="formData.datasets.push('')">
          <i class="glyphicon glyphicon-plus"></i> Add dataset
        </button>
      </fieldset>

      <fieldset class="images" ng-file-drag-over-class="dragOver"
        ng-file-drop="onFileSelect($files)">
        <legend>Images</legend>
        <div>
          <div class="drop">
            <span class="btn btn-default" onclick="$(this).find('input').get(0).click();">
              Upload Image
              <input accept="image/*" type="file" multiple ng-file-select="onFileSelect($files)">
            </span>
            <b>OR</b>
            Drag And Drop your images here
            <br>
            <input type="text" class="form-control" ng-model="imageUrl" placeholder="Alternatively you can enter the URL of the image here">
            <button type="button" ng-click="addUrlImage()" class="btn btn-default">Add image</button>
          </div>

          <br/>

          <div ui-sortable ng-model="formData.images">
            <div ng-repeat="image in formData.images" class="gallery-box">
              <span class="title">{{image.name}}</span>
              <div class="thumbnail">
                <div class="img" style="background-image:url({{image.getPreview()}})"></div>
              </div>
              <div class="progress progress-striped" ng-class="{active: image.isUploading()}">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="{{image.progress() * 100}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     ng-style="{width: (image.progress() * 100) + '%'}">
                  <span class="sr-only">{{image.progress()}}% Complete</span>
                </div>
              </div>
              <div class="btn-group">
                <a class="btn btn-xs btn-danger" ng-click="cancelImage($index)">
                  Remove
                </a>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </fieldset>

      <fieldset ng-hide="modal">
        <legend>Connected Event</legend>
        <div class="form-group" ng-class="{'has-error':invalidEvent}">
          <input ng-change="setEvent()" type="text" class="form-control" ng-model="connectedEventTitle" ng-options="event.title as event.title for event in events" placeholder="Enter event title" bs-typeahead>
          <div ng-show="invalidEvent" class="alert alert-danger">No matching event found!</div>
        </div>
      </fieldset>

      <div class="alert alert-danger" ng-show="form.$invalid">
        You must fill all required fields before you can save the app.
      </div>

      <fieldset>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {{saveBtnTitle}}</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()" ng-show="modal">Cancel</button>
        <button ng-show="editMode" ng-click="deleteApp()" type="button" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Delete app
        </button>
      </fieldset>
    </form>

    <div class="col-md-12" ng-show="modalSaved">
      <div class="alert alert-success">
        Application submitted successfully. Please note that your application has to be approved by the administrators, before it becomes visible on the webpage.
      </div>
      <button class="btn btn-default" ng-click="closeModal()"><i class="fa fa-times"></i> Close window</button>
    </div>
  </div>
</div>
