<div class="row event">
  <div class="col-md-12">
    <h2>{{title}}</h2>
    <form role="form" ng-hide="modalSaved" ng-submit="saveApp()" name="form">
      <fieldset>
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" required type="text" class="form-control" ng-model="formData.title" id="title" placeholder="Enter title">
          <div class="alert alert-danger" ng-show="form.title.$dirty && form.title.$invalid">
            Title is required.
          </div>
        </div>

        <div class="form-group">
          <label for="text">Description</label>
          <textarea class="form-control wysiwyg" id="text"></textarea>
        </div>

        <div class="form-group radioGroup" ng-hide="modal">
          <label>App status</label><br>
          <label class="first">
            <input type="radio" ng-model="formData.published" id="status1" value="1">
            Published
          </label>
          <label>
            <input type="radio" ng-model="formData.published" id="status2" value="0">
            Unpublished
          </label>
          <div class="alert alert-info"><i class="glyphicon glyphicon-info-sign"></i> Only published apps are visible on event webpage.</div>
        </div>

        <div class="form-group">
          <label for="homepage">Homepage</label>
          <input type="url" class="form-control" ng-model="formData.homepage" id="homepage" placeholder="Enter app homepage">
        </div>

        <div class="form-group">
          <label for="downloadUrl">Download URL</label>
          <input type="url" class="form-control" ng-model="formData.downloadUrl" id="downloadUrl" placeholder="Enter app download URL">
        </div>
      </fieldset>

      <fieldset ng-hide="modal">
        <legend>Connected Event</legend>
        <div class="form-group" ng-class="{'has-error':invalidEvent}">
          <input ng-change="setEvent()" type="text" class="form-control" ng-model="connectedEventTitle" ng-options="event.title as event.title for event in events" placeholder="Enter event title" bs-typeahead>
          <div ng-show="invalidEvent" class="alert alert-danger">No matching event found!</div>
        </div>
      </fieldset>

      <div class="alert alert-danger" ng-show="form.$invalid">
        You must fill all required fields before you can save the app.
      </div>

      <fieldset>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {{saveBtnTitle}}</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()" ng-show="modal">Cancel</button>
        <button ng-show="editMode" ng-click="deleteApp()" type="button" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Delete app
        </button>
      </fieldset>
    </form>

    <div class="col-md-12" ng-show="modalSaved">
      <div class="alert alert-success">
        Application submitted successfully. Please note that your application has to be approved by the administrators, before it becomes visible on the webpage.
      </div>
      <button class="btn btn-default" ng-click="closeModal()"><i class="fa fa-times"></i> Close window</button>
    </div>
  </div>
</div>
