<div class="row event">
  <div class="col-md-12">
    <h2 ng-show="!editMode">Create event</h2>
    <h2 ng-show="editMode">Edit event</h2>
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i> Fields marked with an asterisk (*) are required fields.
    </div>
    <form role="form" ng-submit="saveEvent()" name="form">
      <fieldset>
        <div class="form-group required">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" required ng-model="formData.title" id="title" placeholder="Enter title">
          <div class="alert alert-danger" ng-show="form.title.$dirty && form.title.$invalid">
            Please enter the title of the event.
          </div>
        </div>

        <div class="form-group date required">
          <label for="startDate">Start date</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" required bs-datepicker data-autoclose="true" data-date-format="yyyy-MM-dd" class="form-control" ng-model="formData.startDate" name="startDate" id="startDate" placeholder="Start date">
          </div>
        </div>
        <div class="form-group date endDate required">
          <label for="endDate">End date</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" required bs-datepicker data-autoclose="true" data-date-format="yyyy-MM-dd" class="form-control" ng-model="formData.endDate" name="endDate" id="endDate" placeholder="End date">
          </div>
        </div>
        <div class="alert alert-danger" ng-show="form.startDate.$dirty && form.endDate.$dirty && (form.startDate.$invalid || form.endDate.$invalid)">
          Please enter the start and end date of the event.
        </div>

        <div class="form-group required">
          <label for="location">Location</label>
          <input required ng-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" bs-typeahead type="text" class="form-control" ng-model="formData.location" name="location" id="location" placeholder="Enter location">
          <div class="alert alert-danger" ng-show="form.location.$dirty && form.location.$invalid">
            Please enter the location of the event.
          </div>
        </div>

        <div class="form-group">
          <label for="registrationLink">Registration link</label>
          <input type="text" class="form-control" ng-model="formData.registrationLink" id="registrationLink" placeholder="Enter a link to the registration for the event">
        </div>

        <div class="form-group required">
          <label for="theme">Theme</label>
          <select required class="form-control" ng-model="formData.theme" name="theme" id="theme" ng-options="theme for theme in themes">
            <option value="">Choose event theme</option>
          </select>
          <div class="alert alert-danger" ng-show="form.theme.$dirty && form.theme.$invalid">
            Please choose a theme for the event.
          </div>
        </div>

        <div class="form-group required">
          <label for="text">Description</label>
          <textarea class="form-control wysiwyg" id="text"></textarea>
        </div>
      </fieldset>

      <fieldset ng-show="eventId">
        <legend>Connected Apps</legend>
        <div class="form-group">
          <ul>
            <li ng-repeat="app in apps"><a href="/apps/{{app._id}}/edit">{{app.title}}</a></li>
          </ul>
          <div class="alert alert-info" ng-show="!apps||apps.length==0"><i class="glyphicon glyphicon-info-sign"></i> No connected apps found.</div>
        </div>
      </fieldset>

      <fieldset class="prizes">
        <legend>Prizes</legend>
        <div class="alert alert-info">
          <i class="glyphicon glyphicon-info-sign"></i>
          You can specify prizes for the winner, second place and third place below. Please enter in the first input the prize itself (for example 1000€) and then, in the second input, you can choose the app(s) that won the prize.
          <br><i>Note! Only apps that have been connected to this event can be selected as winners for a prize. Apps can be connected to events from the app-editing page.</i>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstPrize">First prize</label>
              <input type="text" class="form-control" ng-model="formData.firstPrize" id="firstPrize" placeholder="Enter first prize, for example 1000€">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstPrizeWinners">First prize winners</label>
              <select multiple="multiple" size="5" class="form-control" id="firstPrizeWinners" ng-model="formData.firstPrizeWinners" ng-options="app._id as app.title for app in apps">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="secondPrize">Second prize</label>
              <input type="text" class="form-control" ng-model="formData.secondPrize" id="secondPrize" placeholder="Enter second prize">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="secondPrizeWinners">Second prize winners</label>
              <select multiple="multiple" size="5" class="form-control" id="secondPrizeWinners" ng-model="formData.secondPrizeWinners" ng-options="app._id as app.title for app in apps">
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="thirdPrize">Third prize</label>
              <input type="text" class="form-control" ng-model="formData.thirdPrize" id="thirdPrize" placeholder="Enter third prize">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="thirdPrizeWinners">Third prize winners</label>
              <select multiple="multiple" size="5" class="form-control" id="thirdPrizeWinners" ng-model="formData.thirdPrizeWinners" ng-options="app._id as app.title for app in apps">
              </select>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Jury</legend>
        <div class="alert alert-info">
          <i class="glyphicon glyphicon-info-sign"></i>
          You can specify the jury for the event below.
        </div>
        <table class="table table-hover table-striped table-responsive">
          <thead>
            <tr>
              <th>Name</th><th>E-mail</th><th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="juryMember in formData.juryMembers">
              <td>
                <input type="text" class="form-control" ng-model="formData.juryMembers[$index].name" placeholder="Enter jury member name">
              </td>
              <td>
                <input type="email" class="form-control" ng-model="formData.juryMembers[$index].email" placeholder="Enter jury member e-mail">
              </td>
              <td>
                <button type="button" ng-click="deleteJuryMember($index)" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" ng-click="addJuryMember()">
          <i class="glyphicon glyphicon-plus"></i> Add new member
        </button>
      </fieldset>

      <div class="alert alert-danger" ng-show="form.$invalid">
        You must fill all required fields marked with an asterisk (*), before you can save the event!
      </div>

      <fieldset>
        <button ng-show="!editMode" ng-disabled="form.$invalid" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Create event</button>
        <button ng-show="editMode" ng-disabled="form.$invalid" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save event</button>
        <button ng-show="editMode" ng-click="deleteEvent()" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete event</button>
      </fieldset>
    </form>
  </div>
</div>
