<div ng-show="{{message}}" class="alert alert-{{message.type}} alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <i class="glyphicon glyphicon-ok"></i> {{message.message}}
</div>

<div class="row app">
  <div class="col-md-12">
    <h2>Apps <a class="btn btn-primary" href="/apps/new"><i class="glyphicon glyphicon-plus"></i> Add new</a></h2>
    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          <th>Title</th><th>Status</th><th>Connected Event</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" ng-model="search.title" placeholder="Filter by title">
          </td>
          <td>
            <select class="form-control" ng-model="search.status" ng-options="value for value in ['published', 'unpublished']">
              <option value="">Filter by status</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" ng-model="search.connectedEvent" placeholder="Filter by event">
          </td>
          <td></td>
        </tr>
        <tr ng-repeat="app in filteredApps = (apps|filter:search)">
          <td>{{app.title}}</td>
          <td>
            <span ng-show="app.published" class="label label-success">published</span>
            <span ng-show="!app.published" class="label label-danger">not published</span>
          </td>
          <td><a href="/events/{{app.connectedEvent._id}}"><span class="badge">{{app.connectedEvent.title}}</span></a></td>
          <td><a href="/apps/{{app._id}}/edit"><i class="glyphicon glyphicon-pencil"></i> edit</a></td>
        </tr>
        <tr class="noResults" ng-hide="filteredApps.length">
          <td colspan="4">
            <div class="alert alert-info">No results</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
