<div class="row">
  <div class="col-md-5">
    <form class="form-signin" role="form" ng-submit="login()" id="loginForm">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div ng-show="loginError" class="alert alert-danger">
        Wrong username or password!
      </div>
      <input ng-model="email" type="email" class="form-control" placeholder="Email address" required autofocus>
      <input ng-model="password" type="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Sign in</button>
    </form>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <div class="well text-center">
      <h2>No account?</h2>
      <a href="/register" class="btn btn-lg btn-block btn-default">Register here</a>
    </div>
  </div>
</div>
