<div class="well">
  <h2>Short introduction here?</h2>
  <p>Lorem ipsum dolor sit amet...</p>
</div>

<div class="row frontpage">
  <div class="col-md-6 column">
    <h4>Events</h4>
    <div class="list">
      <a ng-repeat="event in events" href="/events/{{event._id}}/edit">{{$index + 1}}. {{event.title}}</a>
    </div>
    <a class="btn btn-default" href="/events">See all</a><br>
    <a class="btn btn-primary" href="/events/new"><i class="glyphicon glyphicon-plus"></i> Add Event</a>
  </div>

  <div class="col-md-6 column">
    <h4>Apps</h4>
    <div class="list">
      <a ng-repeat="app in apps" href="/apps/{{app._id}}/edit">{{$index + 1}}. {{app.title}}</a>
    </div>
    <a class="btn btn-default" href="#">See all</a><br>
    <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-plus"></i> Add App</a>
  </div>
</div>
