<div class="well">
  <h3><i class="fa fa-info-circle"></i> Apps4EU hackathon service</h3>
  <p>This service is intended to be used for displaying information about open data events. Start by creating a new event and embedding the event on your website.</p>
</div>

<div class="row frontpage">
  <div class="col-md-6 column">
    <h4>Latest events</h4>
    <div class="list">
      <a ng-repeat="event in events" href="/events/{{event._id}}/edit">{{$index + 1}}. {{event.title}}</a>
    </div>
    <a class="btn btn-default" href="/events">See all</a><br>
    <a class="btn btn-primary" href="/events/new"><i class="glyphicon glyphicon-plus"></i> Add Event</a>
  </div>

  <div class="col-md-6 column">
    <h4>Latest apps</h4>
    <div class="list">
      <a ng-repeat="app in apps" href="/apps/{{app._id}}/edit">{{$index + 1}}. {{app.title}}</a>
    </div>
    <a class="btn btn-default" href="/apps">See all</a><br>
    <a class="btn btn-primary" href="/apps/new"><i class="glyphicon glyphicon-plus"></i> Add App</a>
  </div>
</div>
