<div class="row">
  <div class="col-md-12">
    <form class="form-signin" role="form" ng-submit="register()" id="registerForm">
      <h2 class="form-signin-heading">Register</h2>

      <label for="email">E-mail</label>
      <input ng-model="form.email" id="email" type="email" class="form-control" placeholder="Email address" required autofocus>

      <label for="password">Password</label>
      <input ng-model="form.password" id="password" type="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-check"></i> Register</button>
    </form>
  </div>
</div>
